# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  code-quality:
    name: Code quality ${{ matrix.code_command }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ['3.9']
        code_command: [flake8, isort, black, mypy]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip poetry
        poetry install
    - name: Run ${{ matrix.code_command }}
      run: |
        poetry run ${{ matrix.code_command }} .

  test:
    name: Test on python ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python_version: '3.8'
          - python_version: '3.9'
          - python_version: '3.10'

    steps:
    - uses: actions/checkout@v3
    - name: git setup
      run: |
        git config --global user.name "GitHub Actions Bot"
        git config --global init.defaultBranch main
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip poetry coveralls
        poetry install
    - name: Test
      run: |
        poetry run pytest --cov
    - name: Upload coverage data to coveralls.io
      run: coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: Python ${{ matrix.python_version }}
        COVERALLS_PARALLEL: true

  coveralls:
    name: Indicate completion to coveralls.io
    needs: test
    runs-on: ubuntu-latest
    container: python:3-alpine
    steps:
    - name: Finished
      run: |
        python -m pip install --upgrade coveralls
        coveralls --service=github --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
